/* Точечные исправления мобильной версии */
@media screen and (max-width: 575px) {
    .last-section .last__box__right {
        margin-top: 5rem !important; /* Исправление гигантского отступа */
    }
    .last-section .last__box__right__form .t-btn {
        position: relative !important;
        left: 0 !important;
        top: 2rem !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .last-section .last__box__photo.photo-owner {
        width: 30rem !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 140rem !important;
    }
}
